Repository NaturalDisaster7/2Q_AttackDefenceLog, pull requests merged in 2025-08, with the labels that each got.

#33 Conflict 수정
  Engine/Components/Rendering/PatternDrawerComponent.cpp
  Engine/Components/Rendering/PatternDrawerComponent.h
  Engine/Components/Rendering/TrailComponent.cpp
  Engine/Components/Rendering/TrailComponent.h
  Engine/Engine.vcxproj
  Engine/Engine.vcxproj.filters
  WorkSpace/HSK/HSK.vcxproj
  WorkSpace/HSK/HSK.vcxproj.filters
  WorkSpace/HSK/HSKScene.cpp
  WorkSpace/HSK/NodeObj.cpp
  WorkSpace/HSK/NodeObj.h
  WorkSpace/HSK/PatternManager.h
  WorkSpace/HSK/Test/test4.png
  WorkSpace/HSK/Test/test5_t.png
  WorkSpace/HSK/Test/test_t.png
Labels: fix

#52 배틀 매니저 로직 완성
  WorkSpace/ASB/LiveObject/Enemy.cpp
  WorkSpace/ASB/LiveObject/LiveObject.h
  WorkSpace/ASB/LogicTestManager/AttackPatternManager.cpp
  WorkSpace/ASB/LogicTestManager/AttackPatternManager.h
  WorkSpace/ASB/LogicTestManager/BettleManager.cpp
  WorkSpace/ASB/LogicTestManager/BettleManager.h
Labels: enhancement, content

#80 각 Scene에서 사용할 음악 Component 추가
  Engine/Components/Fmod/FModComponent.cpp
  Engine/Components/Fmod/FModComponent.h
  WorkSpace/KJH/Script/Effect/EffectInstance.h
  WorkSpace/KJH/Script/Sound/SoundEnd.cpp
  WorkSpace/KJH/Script/Sound/SoundEnd.h
  WorkSpace/KJH/Script/Sound/SoundPlayScene.cpp
  WorkSpace/KJH/Script/Sound/SoundPlayScene.h
  WorkSpace/KJH/Script/Sound/SoundTittle.cpp
  WorkSpace/KJH/Script/Sound/SoundTittle.h
Labels: content

#88 json 데이터 수정
  Resource/Json/force_clash_spreadsheet_anim.json
  Resource/Json/force_clash_spreadsheet_sprites.json
Labels: content

#99 fix - slider 좌우 반전 추가
  Engine/Components/UI/Slider.cpp
  Engine/Components/UI/Slider.h
  WorkSpace/KJH/Script/HpBar/HpGauge.cpp
  WorkSpace/KJH/Script/HpBar/HpGauge.h
  WorkSpace/KJH/Script/TestObject.cpp
Labels: enhancement

#101 ChargedSlashManager 연출 추가함
  Contents/Objects/Manager/ChargedSlashManager.cpp
  Contents/Objects/Manager/ChargedSlashManager.h
  Resource/ContentsResource/filter/left_filter_black.png
  Resource/ContentsResource/filter/left_filter_gradient.png
  Resource/ContentsResource/filter/right_filter_black.png
  Resource/ContentsResource/filter/right_filter_gradient.png
Labels: content

#102 PatterControlObect, BattleManager, Player, Enemy 코드 정리 및 설명 주석 추가
  Contents/Objects/Common/PatternControlObject.cpp
  Contents/Objects/Common/PatternControlObject.h
  Contents/Scripts/LiveObject/Enemy.cpp
  Contents/Scripts/LiveObject/Enemy.h
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Scripts/LiveObject/Player.h
  Contents/Scripts/LogicManager/AttackPatternManager.h
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
  Engine/Components/Rendering/ChainDrawerComponent.cpp
  Engine/Components/Rendering/ChainDrawerComponent.h
  Engine/Utils/EventDelegate.h
Labels: fix

#110 feat - 연격시 연속으로 이미지 나오는거 추가
  Contents/Scripts/LiveObject/Enemy.cpp
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Scripts/LiveObject/Player.h
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
Labels: content

#120 데이터 테이블 최신화
  Contents/Scripts/LogicManager/BettleManager.cpp
  Resource/DataTable/적 데이터 테이블.csv
Labels: fix

#121 feat - 마우스 변경 추가
  Contents/Application/GameApp.cpp
  Contents/Application/GameApp.h
  Contents/Contents.vcxproj
  Contents/Contents.vcxproj.filters
  Contents/Scripts/BubbleBox/BubbleBox3.cpp
  Contents/Scripts/BubbleBox/BubbleBoxTittle.cpp
  Contents/Scripts/BubbleBox/BubbleBoxTittle.h
  Engine/Utils/HCURSORChange.cpp
  Resource/UI/BoxText/tittle/01.png
  Resource/UI/BoxText/tittle/02.png
  Resource/UI/BoxText/tittle/03.png
  Resource/UI/BoxText/tittle/04.png
  Resource/UI/BoxText/tittle/05.png
  Resource/UI/BoxText/tittle/06.png
  Resource/UI/BoxText/tittle/07.png
  Resource/UI/BoxText/tittle/08.png
  Resource/UI/BoxText/tittle/09.png
  Resource/UI/BoxText/tittle/10.png
  Resource/UI/BoxText/tittle/11.png
  Resource/UI/Mouse/mouse_cursor_1.png
  Resource/UI/Mouse/mouse_cursor_2.png
Labels: content

#130 feat - 아군 이펙트 추가중
  Contents/Scenes/Stage1.cpp
  Contents/Scripts/BubbleBox/BubbleBox.h
  Contents/Scripts/CsvData/DataClass/EnemyData.cpp
  Contents/Scripts/Effect/EffectMonoB.cpp
  Contents/Scripts/Effect/EffectMonoB.h
  Contents/Scripts/Effect/EnemyAttackEffect.cpp
  Contents/Scripts/Effect/EnemyAttackEffect.h
  Contents/Scripts/Effect/HitEffect.cpp
  Contents/Scripts/Effect/HitEffect.h
  Contents/Scripts/LiveObject/Enemy.cpp
  Contents/Scripts/LiveObject/Enemy.h
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Scripts/LiveObject/Player.h
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
  Resource/DataTable/노드 전체 패턴 테이블.csv
  Resource/DataTable/적 공격 패턴 테이블.csv
  Resource/DataTable/적 데이터 테이블.csv
  Resource/DataTable/플레이어 공격 패턴 테이블.csv
  Resource/DataTable/플레이어 데이터 테이블.csv
Labels: content

#138 fix - 게임 상태 변경 버그 수정
  Contents/Objects/Scenes/Stage/EscMenu/StageESCPanel.cpp
  Contents/Objects/Scenes/Stage/EscMenu/StageESCPanel.h
  Contents/Scenes/Stage1.cpp
  Contents/Scenes/Stage2.cpp
  Contents/Scenes/Stage3.cpp
  Contents/Scripts/BubbleBox/BubbleBox.cpp
  Contents/Scripts/BubbleBox/BubbleBox.h
  Contents/Scripts/BubbleBox/BubbleBox2.cpp
  Contents/Scripts/BubbleBox/BubbleBox2.h
  Contents/Scripts/BubbleBox/BubbleBox3.cpp
  Contents/Scripts/BubbleBox/BubbleBox3.h
Labels: fix

#172 chore - 적 연격 패턴을 추가할 수 있도록 준비
  Contents/Objects/Common/PatternControlObject.cpp
  Contents/Scripts/LiveObject/Enemy.cpp
  Contents/Scripts/LogicManager/AttackPatternManager.cpp
  Contents/Scripts/LogicManager/AttackPatternManager.h
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
Labels: content

#176 feat - 간판 잘릴때 사운드 추가 및 기타 수정
  Contents/Objects/SliceObject/SliceableObject.cpp
  Contents/Objects/SliceObject/SliceableObject.h
  Contents/Objects/Sound/SoundTittle.h
  Contents/Scenes/EndScene.cpp
  Contents/Scenes/MenuScene.cpp
  Contents/Scenes/SelectScene.cpp
  Contents/Scenes/TitleScene.cpp
  Contents/Scripts/Effect/EnemyAttackEffect.cpp
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Scripts/LiveObject/Player.h
  Engine/Engine.vcxproj
  Engine/Engine.vcxproj.filters
  Engine/Utils/RandomMusic.cpp
  Engine/Utils/RandomMusic.h
  Resource/DataTable/AllSoundList.csv
  Resource/DataTable/AllSoundList.xlsx
Labels: content

#178 2차 병합
  Contents/Objects/Common/BattleBoard.cpp
  Contents/Objects/Common/BattleBoard.h
  Contents/Objects/Common/PatternControlObject.cpp
  Contents/Objects/Common/PatternControlObject.h
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
  Engine/Components/Rendering/AnimatedChainEffect.cpp
  Engine/Components/Rendering/AnimatedChainEffect.h
Labels: content

#179 fix - 적 연격 이후에도 쿨타임 감소 적용되고 있음
  Contents/Scripts/LiveObject/Enemy.cpp
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Scripts/LiveObject/Player.h
  Contents/Scripts/LogicManager/BettleManager.cpp
Labels: fix

#180 feat - 연격(적, 플레이어) 이후 1초간 노드 비활성화로 플레이 감성 보강
  Contents/Objects/Common/BlinkNodeObject.cpp
  Contents/Objects/Common/BlinkNodeObject.h
  Contents/Objects/Common/PatternControlObject.cpp
  Contents/Objects/Common/PatternControlObject.h
Labels: content

#185 chore - 병합 4차 완료
  Contents/Objects/Common/BattleBoard.cpp
  Contents/Objects/Common/PatternControlObject.cpp
  Contents/Objects/Common/PatternControlObject.h
  Contents/Objects/Common/TestObject.h
  Contents/Scenes/EndScene.cpp
  Contents/Scripts/GameManager.h
  Contents/Scripts/LogicManager/AttackPatternManager.cpp
  Engine/Components/Rendering/AnimatedChainEffect.cpp
  Engine/Components/Rendering/AnimatedChainEffect.h
  Engine/Components/Rendering/ChainDrawerComponent.cpp
  Engine/Components/Rendering/ParticleRenderer.cpp
  Resource/Sprites/Effect/AttackNode/attack_node_dark_red.png
  Resource/Sprites/Effect/AttackNode/attack_node_yellow.png
Labels: content

#186 feat - 적, 플레이어 연격 이후에 플레이어, 적 모션 넣기
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
Labels: content

#189 fix - 엔딩 무한 루프, Esc 소리 버그 수정
  Contents/Objects/Scenes/Stage/EscMenu/StageESCPanel.cpp
  Contents/Scenes/MenuScene.cpp
  Contents/Scripts/GameManager.cpp
  Contents/Scripts/LiveObject/Enemy.cpp
  Contents/Scripts/LiveObject/Enemy.h
Labels: fix

#190 feat - 이펙트 2 추가
  Contents/Contents.vcxproj
  Contents/Contents.vcxproj.filters
  Contents/Scripts/Effect/EffectInstance2.cpp
  Contents/Scripts/Effect/EffectInstance2.h
Labels: content

#192 fix - 5차 버그수정
  Contents/Objects/Common/BattleBoard.cpp
  Contents/Objects/Common/BattleBoard.h
  Contents/Scripts/Effect/EffectInstance2.cpp
  Contents/Scripts/Effect/EffectInstance2.h
Labels: fix

#193 fix - 버그 수정
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
Labels: fix

#199 chore - 튜토리얼 스테이지 연결중
  Contents/Objects/Scenes/TutorialScene/TutorialControlObject.cpp
  Contents/Scripts/LiveObject/Enemy.h
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Scripts/LogicManager/BettleManager.cpp
Labels: content

#201 튜토리얼 1차 완성
  Contents/Contents.vcxproj
  Contents/Contents.vcxproj.filters
  Contents/Objects/Scenes/MenuScene/StageSelectManager.cpp
  Contents/Objects/Scenes/TutorialScene/TutorialControlObject.cpp
  Contents/Objects/Scenes/TutorialScene/TutorialControlObject.h
  Contents/Objects/Scenes/TutorialScene/TutorialEffectObject.cpp
  Contents/Objects/Scenes/TutorialScene/TutorialEffectObject.h
  Contents/Objects/Scenes/TutorialScene/TutorialEnterObject.cpp
  Contents/Objects/Scenes/TutorialScene/TutorialNumObject.cpp
  Contents/Objects/Scenes/TutorialScene/TutorialNumObject.h
  Contents/Scenes/TutorialScene.cpp
  Contents/Scripts/GameManager.h
  Engine/Components/UI/Button.cpp
  Engine/Components/UI/Button.h
  Resource/Sprites/UI/Number/0_text.png
  Resource/Sprites/UI/Number/1_text.png
  Resource/Sprites/UI/Number/2_text.png
  Resource/Sprites/UI/Number/3_text.png
  Resource/Sprites/UI/Number/attack_3times_text.png
  Resource/Sprites/UI/Number/defence_3times_text.png
  Resource/Sprites/UI/Number/parrying_3times_text.png
  Resource/Sprites/UI/Number/slash_text.png
Labels: content

#202 fix - 플레이어 상중하 제대로 적용안되는 버그 수정
  Contents/Scenes/TutorialScene.cpp
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Scripts/LogicManager/AttackPatternManager.h
  Contents/Scripts/LogicManager/BettleManager.cpp
  Contents/Scripts/LogicManager/BettleManager.h
  Resource/Sprites/UI/StageTop/ProfileUI/tuto_enemy_ui.png
Labels: fix

#203 작업완료
  Contents/Objects/Common/InputObject.cpp
  Contents/Objects/Common/PatternControlObject.cpp
  Contents/Objects/Manager/ChargedSlashManager.cpp
  Contents/Objects/Manager/ThinkingPatternManager.cpp
  Contents/Objects/Manager/ThinkingPatternManager.h
  Contents/Objects/Scenes/MenuScene/StageSelectManager.cpp
  Contents/Objects/Scenes/TitleScene/TitleEffectManager.cpp
  Contents/Objects/Scenes/TitleScene/TitleEffectManager.h
  Contents/Objects/Scenes/TutorialScene/TutorialControlObject.cpp
  Contents/Objects/Scenes/TutorialScene/TutorialControlObject.h
  Contents/Objects/Scenes/TutorialScene/TutorialEffectObject.cpp
  Contents/Objects/Scenes/TutorialScene/TutorialEffectObject.h
  Contents/Objects/Scenes/TutorialScene/TutorialEnterObject.cpp
  Contents/Scenes/EndScene.cpp
  Contents/Scenes/MenuScene.cpp
  Contents/Scenes/SelectScene.cpp
  Contents/Scenes/Stage1.cpp
  Contents/Scenes/TitleScene.cpp
  Contents/Scenes/TutorialScene.cpp
  Contents/Scripts/BubbleBox/BubbleBoxTittle.cpp
  Contents/Scripts/BubbleBox/BubbleEnd.cpp
  Contents/Scripts/BubbleBox/BubbleEnd.h
  Contents/Scripts/LiveObject/Player.cpp
  Contents/Vignette.cpp
  Engine/Components/Rendering/AnimatedChainEffect.cpp
  Engine/Components/Rendering/ChainDrawerComponent.cpp
  Engine/Components/Rendering/ChainDrawerComponent.h
  Resource/Sprites/Tutorial/tutorial_10.png
  Resource/Sprites/Tutorial/tutorial_11.png
  Resource/Sprites/Tutorial/tutorial_12.png
  Resource/Sprites/Tutorial/tutorial_13.png
  Resource/Sprites/Tutorial/tutorial_14.png
  Resource/Sprites/Tutorial/tutorial_15.png
  Resource/Sprites/Tutorial/tutorial_16.png
  Resource/Sprites/Tutorial/tutorial_17.png
  Resource/Sprites/Tutorial/tutorial_18.png
  Resource/Sprites/Tutorial/tutorial_2.png
  Resource/Sprites/Tutorial/tutorial_20.png
  Resource/Sprites/Tutorial/tutorial_21.png
  Resource/Sprites/Tutorial/tutorial_22.png
  Resource/Sprites/Tutorial/tutorial_23.png
  Resource/Sprites/Tutorial/tutorial_24.png
  Resource/Sprites/Tutorial/tutorial_25.png
  Resource/Sprites/Tutorial/tutorial_26.png
  Resource/Sprites/Tutorial/tutorial_27.png
  Resource/Sprites/Tutorial/tutorial_28.png
  Resource/Sprites/Tutorial/tutorial_29.png
  Resource/Sprites/Tutorial/tutorial_3.png
  Resource/Sprites/Tutorial/tutorial_30.png
  Resource/Sprites/Tutorial/tutorial_31.png
  Resource/Sprites/Tutorial/tutorial_4.png
  Resource/Sprites/Tutorial/tutorial_5.png
  Resource/Sprites/Tutorial/tutorial_6.png
  Resource/Sprites/Tutorial/tutorial_7.png
  Resource/Sprites/Tutorial/tutorial_8.png
  Resource/Sprites/Tutorial/tutorial_9.png
  Resource/Sprites/UI/Number/attack_3times_text.png
  Resource/Sprites/UI/Number/defence_3times_text.png
  Resource/Sprites/UI/Number/parrying_3times_text.png
Labels: content
